body {
    position: relative;
}

.popup {
    // position: absolute;
    // top: 0%;
    // left: 0%;
    // bottom: 0%;
    // right: 0%;
    // z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: calc(100vh - 192px);

    .popup-cont {
        padding: 35px 40px;
        border-radius: 20px;
        background-color: $white;
        display: flex;
        // margin-bottom: 350px;
        flex-direction: column;
        align-items: center;
        max-width: 800px;

        img {
            width: 100px;
            height: 100px;
            margin-bottom: 25px;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;
            color: $black;
            margin-bottom: 20px;
        }

        p {
            width: 100%;
            background-color: #E0FEE0;
            color: $black;
            font-size: 32px;
            font-weight: 600;
            padding: 20px 40px;
        }
    }
}

.book-main-page {


    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .book-cont {
        display: flex;
        gap: 100px;
        padding-top: 73px;
        padding-bottom: 73px;
        min-height: calc(100vh - 189px);
        align-items: center;

        .MazarInfo {
            z-index: 2;

            img {
                width: 70%;
                height: auto;
                margin-bottom: 30px;
            }

            h2 {
                color: $white;
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 16px;
            }

            p {
                font-size: 24px;
                font-weight: 700;
                color: #C3C3C3;
                margin-bottom: 40px;
            }
        }

        .form {
            background-color: $white;
            z-index: 2;
            border-radius: 15px;
            padding: 24px;

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 100%;

                div {
                    width: 100%;
                }

                .captcha {
                    padding-top: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 40px;

                    div {
                        width: auto;
                    }

                    .captcha-text {
                        color: #ef4444;
                        font-weight: 500;
                        font-size: .8rem;
                    }
                }
            }

            label {
                font-size: 15px;
                font-weight: 700;
                color: #0A0A0A;
                width: 100%;
            }

            input,
            textarea {
                margin-top: 12px;
                margin-bottom: 16px;
                box-shadow: none;
                padding: 15px 24px;
                height: 55px;
                width: 100%;
                border-radius: 2px;
                border: 1px solid #e3e3e3;
                background-color: #F9F9F9;
            }

            textarea {
                height: 150px;
            }

            .date-picker {
                border: 1px solid #e3e3e3;
                padding: 8px 24px;
                border-radius: 2px;
                font-size: 13px;
                font-weight: 400;
                margin-top: 12px;
                margin-bottom: 16px;
                background-color: #F9F9F9;
                height: 55px;

            }

            .form-message {
                margin-bottom: 18px;
            }

            .submit {
                padding: 15px 24px;
                border-radius: 5px;
                background-color: $main;
                color: $white;
            }

            .submit:hover {
                background-color: $sec;
            }

            .date-btn {
                text-align: start;
                color: #0A0A0A;
                font-size: 13px;
                font-weight: 400;
                background-color: #F9F9F9;
            }
        }
    }

    .user-cont {
        align-items: flex-start;
        padding: 100px 0;
    }

    .user {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
        width: 100%;

        h2 {
            text-align: center;
            color: $white;
            font-size: 40px;
            font-weight: 700;
        }

        .users {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: flex-start;
            gap: 30px;
            width: 100%;

            .user-item {
                background-color: #E0F5F5;
                width: 100%;
                border-radius: 14px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 11px;

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    color: #444444;
                }

                img {
                    width: 64px;
                }
            }
        }
    }
}


.PhoneInput {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;

    .PhoneInputCountry {
        display: flex;
        height: 55px;
        border-radius: 2px;
        border: 1px solid #e3e3e3;
        background-color: #F9F9F9;
        overflow: hidden;
        // width: 100px;
        margin-top: 12px;
        margin-bottom: 16px;
        max-width: 70px;
    }

    .PhoneInputCountrySelect {
        width: 20px;
        // display: none;
    }

    .PhoneInputCountryIcon {
        max-height: 100%;
        height: 55px;
        padding: 3px;
        max-width: 50px;

        input:focus-visible {
            border: none;
            outline: none;
        }

        img {
            height: 100%;
            border-radius: 5px;
        }

    }

    .PhoneInputCountrySelectArrow {
        display: none;
    }
}

.book-main-page .book-cont .form form .PhoneInputCountry {
    width: 100px;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .book-main-page .user .users {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .book-main-page .user .users {
        grid-template-columns: repeat(2, 1fr);
    }

    .book-main-page {
        position: relative;

        .popup {
            .popup-cont {
                margin-bottom: 150px;

                p {
                    font-size: 16px;
                }
            }
        }

        .book-cont {
            flex-direction: column;
        }
    }
}