.brief {
    padding: 100px 0;
    background-color: #E0F5F5;

    h2 {
        font-size: 40px;
        font-weight: 700;
        color: #21201F;
        margin-bottom: 48px;
        text-align: center;
    }

    .tabs {
        display: flex;
        align-items: center;
        gap: 48px;
        flex-direction: column;
    }

    .heads {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
        width: 100%;

        h3 {
            font-size: 20px;
            font-weight: 700;
            color: #5D5C5B;
            margin-bottom: 0;
            width: 100%;
            text-align: center;
            padding: 24px 0;
            cursor: pointer;
        }

        h3:hover {
            color: $main;
            transform: translateY(-5px);
        }

        .active {
            color: $main;
            border-bottom: 4px solid $main;
        }
    }

    .analysis {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 30px;

        .data {
            height: 100%;
            width: 100%;
        }

        .analysis-tabs {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 15px;

            .analysis-tab {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .tab {
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    cursor: pointer;

                    .bulet {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #494847;
                    }

                    h5 {
                        font-size: 20px;
                        font-weight: 700;
                        color: #21201F;
                        margin-bottom: 0;
                    }
                }

                .active-tab {
                    .bulet {
                        background-color: $main;
                    }

                    h5 {
                        color: $main;
                    }
                }

                .tab-data {
                    opacity: 0;
                    visibility: hidden;
                    height: 0;

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                }

                .active {
                    opacity: 1;
                    visibility: visible;
                    height: auto;

                }
            }
        }

        .img {
            width: 100%;
            height: 400px;
            max-height: 100%;

            .img-cont {
                height: 100%;
                width: 100%;
                max-height: 535px;
                min-height: 400px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 25px;
                    border: 2px solid $hover;
                }
            }
        }

    }
}

@media (max-width: 1025px) {}

@media (max-width: 600px) {
    .brief {
        .heads{
            justify-content: space-between;
            gap: 5px;
            h3{
                font-size: 16px;
            }
        }
        h2{
            font-size: 32px;
        }
        .analysis {
            flex-direction: column;
        }
    }
    .brief .analysis .analysis-tabs .analysis-tab .tab h5{
        font-size: 16px;
    }
    .brief .analysis .analysis-tabs .analysis-tab .tab-data p{
        font-size: 16px;
    }
}