.discount {
    background-attachment: fixed;
    background-position: center;
    .overlay {
        padding: 100px 0;
        background-color: rgba(33, 32, 31, 0.8);
        .container {
            .relat{
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
            }
            .abs-span {
                position: absolute;
                top: -65px;
                inset-inline-start: 0;
                padding: 7px 32px;
                font-size: 16px;
                font-weight: 700;
                color: $white;
                background-color: $main;
                border-radius: 6px;
            }

            h2 {
                font-size: 40px;
                font-weight: 700;
                color: $white;
                margin-bottom: 24px;
                text-align: center;
            }

            p {
                font-size: 24px;
                font-weight: 700;
                color: $white;
                margin-bottom: 40px;
                text-align: center;
            }

            .links {
                display: flex;
                align-items: center;
                gap: 20px;

                a {
                    padding: 16px 40px;
                    color: $white;
                    border-radius:12px;
                    font-size: 20px;
                    font-weight: 700;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .order {
                    background-color: transparent;
                    border: 4px solid $white;
                }

                .tagr {
                    background-color: $main;

                }

                a:hover {
                    background-color: $hover;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .discount {
        .overlay {
           
            .container {
               
                h2 {
                    font-size: 32px;
                }
                p{
                    font-size: 20px;
                }
                .links{
                    flex-direction: column;
                    a{
                        width: 100%;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}