body {
    overflow-x: hidden;
}

* {
    transition: all 0.3s ease-in-out;
}
.loading-logo{
    height: 90vh;
    margin: auto;
    width: auto;
}
header {
    padding: 13px 0;
    box-shadow: 0px 0px 14px rgba(224, 245, 245, .15);
    background-color: #E0F5F5;

    .container {
        position: relative;
    }

    .logo-img {
        height: 65px;
        width: auto;
    }

    .links {
        min-width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px;

        a {
            color: #21201F;
            font-size: 16px;
            font-weight: 700;
        }

        a:hover {
            color: $hover;
        }

        .book-link {
            padding: 12px 24px;
            background-color: $main;
            border-radius: 8px;
            height: 43px;
            color: $white;
        }

        .book-link:hover {
            background-color: $hover;
            color: $white;
        }
    }

    .menu-bars {
        display: none;
        cursor: pointer;

        a {
            width: 100%;
        }
    }

    .hidden {
        display: none;
    }

    .side-menu {
        position: absolute;
        top: 100%;
        inset-inline-end: 15px;
        flex-direction: column;
        padding: 15px;
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
        z-index: 10;
        min-width: 300px;
        align-items: center;
        display: flex;
        opacity: 0;
        visibility: hidden;

        .links {
            flex-direction: column;
            gap: 15px;
            width: 100%;
            align-items: center;

            a {
                width: 100%;
                text-align: center;
                border-radius: 8px;
                padding: 10px;
            }

            a:hover {
                background-color: $main;
                color: $white;
            }

            .book-link:hover {
                background-color: $hover;
            }

        }
    }

    .side-menu-active {
        opacity: 1;
        visibility: visible;
        z-index: 103;
    }
}

.offer-header {
    background-color: $main;
    padding: 18px 24px;

    .offer-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: white;

        p {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0;
        }
        
    }
}

@media (max-width: 676px) {
    header {
        .links {
            display: none;
        }

        .side-menu {
            .links {
                display: flex;
            }
        }

        .menu-bars {
            display: block;
        }

        .hidden {
            display: none;
        }
    }
    .offer-header{
        padding: 15px 10px;
        .offer-text{
            gap: 10px;
            p{
                font-size: 16px;
            }
        }
    }
}